
.App {
  background-color: #282c34;
  
}

.cardH {
  /* margin-top: 15%; */
  text-align: center;
}
.font-black{
  color: black;
}

.bgcolor {
  background-color: #1f1a1a;
}

.cardHD {
  padding-top: 1%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    animation-direction: alternate;
  }
}

.TelAnimate {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TelAnimate {
    animation: App-logo-spin infinite 0.15s linear;
    animation-direction: alternate;
    height: 60px;
  }
}

.site-container > * {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paddingH {
  padding-left: 10%;
  padding-right: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}



.BG-Home {
  background: linear-gradient(195deg, #FEDB01  60%, #1A1A1A 50%); 
}

.BG-About {
  background: #1A1A1A;
  color: white; 
}

.BG-Skill {
  background: linear-gradient(175deg, #1A1A1A  50%, #FEDB01 70%);
  color: white; 

}

.BG-Portfolio {
  background: linear-gradient(180deg, #FEDB01  50%, #FEDB01  70%);
  color: white; 

}

.BG-Contact {
  background: #FEDB01;

}
